<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML5 Login Form with validation Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../static/css/admin_styles.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="login-form-wrap">
    <h2>Admin Login</h2>
    <form id="login-form" method="post">
        {% csrf_token %}
        {% if form.errors %}
        <div class="col-12 register-field">
            <div class="alert alert-block alert-danger">
                <ul>
                    <li>
                        Please enter a correct username and password.Note that both fields may be case-sensitive.
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
        <p>
            <input type="text" id="username" name="username" placeholder="Admin Name" required><i
                class="validation"><span></span><span></span></i>
        </p>
        <p>
            <input type="password" id="password" name="password" placeholder="Password" required><i
                class="validation"><span></span><span></span></i>
        </p>
        <p>
            <input type="submit" id="login" value="Login">
        </p>
    </form>
    <br><br><br>
</div><!--login-form-wrap-->
</body>
</html>
